@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Urbanist", "sans-serif";
}

.mask-card {
  background-image: url(../src/assets/border.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 13px;
  overflow: hidden;
  transition: .3s linear;
}

/* 
M0 379.608V15.6962C0 6.99935 6.52567 0 14.5151 0H233.528H366.583C374.572 0 381.098 6.99935 381.098 15.6962V61.2979C381.098 70.3625 385.913 77.7617 394.381 77.7617H428.224C432.171 77.7617 435.342 80.0234 437.543 83.4218C439.746 86.824 440.951 91.3321 440.951 95.7092V110.427V148.839V381.86C440.951 386.196 439.326 389.545 436.719 391.815C434.105 394.09 430.476 395.305 426.436 395.305H233.528H14.5151C6.52567 395.305 0 388.305 0 379.608Z
*/




.mask-card .inner-content {
  /* clip-path: polygon(0 0, 0% 43%, 0 100%, 50% 100%, 86% 100%, 100% 100%, 100% 69%, 100% 45%, 100% 21%, 87% 21%, 87% 0); */
  clip-path: path("M0 379.608V15.6962C0 6.99935 6.52567 0 14.5151 0H233.528H366.583C374.572 0 381.098 6.99935 381.098 15.6962V61.2979C381.098 70.3625 385.913 77.7617 394.381 77.7617H428.224C432.171 77.7617 435.342 80.0234 437.543 83.4218C439.746 86.824 440.951 91.3321 440.951 95.7092V110.427V148.839V381.86C440.951 386.196 439.326 389.545 436.719 391.815C434.105 394.09 430.476 395.305 426.436 395.305H233.528H14.5151C6.52567 395.305 0 388.305 0 379.608Z");
  position: relative;
  overflow: hidden;
}

.mask-card .inner-content::before {
  content: "";
  position: absolute;
  width: 1022px;
  height: 1022px;
  left: -640px;
  top: -730px;
  background: url('data:image/svg+xml;utf8,<svg width="942" height="992" viewBox="0 0 942 992" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M454.061 0L941.684 339.419C941.684 339.419 870.067 358.06 846.005 391.376C821.075 425.894 854.013 468.648 828.169 502.5C804.472 533.538 760.155 519.247 735.759 549.759C707.849 584.668 741.878 630.154 714.654 665.58C689.963 697.709 644.084 683.687 619.908 716.195C594.143 750.842 627.712 794.612 601.139 828.661C577.289 859.22 533.626 845.132 509.196 875.249C480.847 910.198 487.623 991.741 487.623 991.741L0 652.322L454.061 0Z" fill="url(%23paint0_linear_10_67)"/><defs><linearGradient id="paint0_linear_10_67" x1="732.486" y1="193.803" x2="335.346" y2="764.35" gradientUnits="userSpaceOnUse"><stop stop-color="%239FF8BE"/><stop offset="1" stop-color="%23F8EDBA"/></linearGradient></defs></svg>') no-repeat;
  transition: .5s linear;
  z-index: -1;
}

.mask-card:hover {
  background-image: none;
}

.mask-card:hover .inner-content::before {
  left: -260px;
  top: -270px;
}


.mask-card-schumacher {
  background-image: url(../src/assets/schumacher-cards-border.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.casestudy {
  background-image: url(../src/assets/casestudybg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.itemcase {
  background-image: url(../src/assets/casestudybg2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 495px;
}

.reviewcardbg {
  background-image: url(../src/assets/reviewcardbg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.carouselStudy .innerItem {
  background-image: url(../src/assets/SchumacherBg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 476px;
}

.checked-lines {
  background-image: url(../src/assets/checked-lines-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mySwiper {
  padding-bottom: 50px !important;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #212121;
}

.green-linear {
  background: linear-gradient(182deg, #9FF8BE 1.12%, #EAFFE2 76.66%, #F8EDBA 157.07%);
}

.knowledger {
  background: linear-gradient(182deg,
      #9ff8be 1.12%,
      #eaffe2 76.66%,
      #f8edba 157.07%);
}

.pHighLightBg {
  background-image: url(../src/assets/gridLines.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.kcbg {
  background-image: url(../src/assets/kcbg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.carrier-benefit-card {
  background-image: url(../src/assets/carriers-cards-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.benefit-utilities-card {
  background-image: url(../src/assets/benefits-utilities-cards-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}

.projectItem {
  background: var(--Gradient-Light,
      linear-gradient(180deg, #9ff8be 0%, #f8edba 87.46%));
}

/* .active-slide {
  height: 534px;
  width: 840px;
}

.other-slide {
  height: 472px;
  width: 500px;
} */

.gradientHeroBg {
  background: linear-gradient(182deg, #9FF8BE 1.12%, #EAFFE2 76.66%, #F8EDBA 157.07%);
}

.linearCapabilities {
  background: linear-gradient(87deg, #FFF 0.93%, rgba(255, 255, 255, 0.00) 101.29%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chart {
  background-image: url(../src/assets/capabg2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 620px;
}

.tabbg {
  background-image: url(../src/assets/tabBg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.address-content-wrapper {
  background-image: url(../src/assets/addressed-content-wrapper.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.problem2-section {
  background: url(../src/assets/problem2-bg-vector.png) #2D2D2D;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 0%;
}

@media screen and (max-width: 1536px) {

  .reviewcardbg,
  .chart {
    height: auto;
    background-image: none;
  }

}

@media screen and (max-width: 1280px) {
  .casestudy {
    background-image: none;
    background-color: #212121 !important;
  }

  .carouselStudy .innerItem {
    background-image: none;
    height: auto;
  }

  .pHighLightBg {
    background-image: none;
    height: auto;
  }
}

@media screen and (max-width: 767px) {

  .mask-card,
  .carouselStudy {
    background-image: none;
  }
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}


/* ------------------ Stroke Animation ---------------- */

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.path-animation path {
  stroke-dasharray: 1000;
  /* Path ke length se zyada */
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 1s ease-in-out;
}

.path-animation.active path {
  stroke-dashoffset: 0;
  /* Animation stroke ko draw karega */
}

.animationStroke {
  position: relative;
}

.animationStroke .svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.animationStroke .svg-container.stretched svg {
  transform: scaleX(1.5);
}

.animationStroke .svg-container.knowledger {
  background: transparent;
}

.animationStroke .svg-container.knowledger svg {
  transform: scaleX(1.6);
}

.animationStroke .svg-container.knowledger2 svg {
  transform: scaleX(1.2) scale(.8);
}

.animationStroke .svg-container.knowledger3 svg {
  transform: scaleX(1.3) scaleY(0.9);
}

.animationStroke .svg-container.knowledger4 svg {
  transform: scaleX(0.9) scaleY(0.8);
}


.animationStroke .svg-container.volt svg {
  transform: scaleX(1.9);
}


.animationStroke .svg-container.aboutus svg {
  transform: scaleX(1.7);
}

.animationStroke .svg-container.contact-us svg {
  transform: scaleX(1.4);
}

.animationStroke .svg-container.holistic svg {
  transform: scaleX(1.2);
}

@media (max-width: 1024px) {
  .animationStroke .svg-container.holistic svg {
    transform: scaleX(1.4) scale(.6);
  }
}



/* --------------------- */

.custom-leptopimg {
  left: 50%;
  transform: translateX(-44%) translateY(-2%);
  top: 48%;
}

.leptop-image {
  max-width: 841px;
}



@media (max-width: 1600px) {
  .custom-leptopimg {
    left: 50.8%;
    transform: translateX(-44%) translateY(-2%);
    top: 53%;
  }

  .leptop-image {
    max-width: 673px;
  }
}

@media (max-width: 1500px) {
  .custom-leptopimg {
    top: 56%;
  }

  .leptop-image {
    max-width: 593px;
  }
}

@media (max-width: 1400px) {
  .custom-leptopimg {
    left: 50.4%;
    top: 50%;
  }

  .leptop-image {
    max-width: 572px;
  }
}

@media (max-width:992px) {
  .custom-leptopimg {
    top: 65%;
    left: 51.2%;
  }

  .leptop-image {
    max-width: 325px;
  }
}

@media (max-width:576px) {
  .custom-leptopimg {
    display: none;
  }

  .leptop-image {
    max-width: 124px;
  }
}


.slide-content.active-slide {
  transform: scale(1.09);
  transition: .2s linear;
}

.active-slideoutter {
  height: 100% !important;
}


.my-swiper.custom-knowledger {
  overflow: unset !important;
}

.aboutPage .commitment {
  background-image: url(../src/assets/aboutbg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}


.navTabs {
  font-size: 40px;
  background: #fff;
  font-weight: 500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  text-align: right;
}


.navTabs.activeTabs {
  font-size: 40px;
  background: linear-gradient(0deg, #F9DE80 0.52%, #3ABF88 100.03%);
  font-weight: 500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.table-customrow .table-customtd {
  border-style: dashed;
}

.table-customrow .table-customtd:first-child {
  border-left-style: solid;
}

.table-customrow .table-customtd:last-child {
  border-right-style: solid;
}


.table-customrow:first-child .table-customtd {
  border-top-style: solid;

}

.table-customrow:last-child .table-customtd {
  border-bottom-style: solid;

}




@media (max-width:1280px) {
  .animationStroke .svg-container.aboutus svg {
    transform: scaleX(1.3);
  }

  .animationStroke .svg-container.aboutus.design-sprint svg {
    transform: scaleX(1.7);
  }
}

@media (max-width: 1024px) {
  .aboutPage .commitment {
    background: #2D2D2D;
  }
}

@media (max-width: 767px) {
  .animationStroke .svg-container {
    display: none;
  }

  .navTabs,
  .navTabs.activeTabs {
    font-size: 34px;
  }

  .id-box {
    border-color: #ffffff28;
  }

  .id-box:nth-child(2) {
    border-right: none;
  }

  .id-box:nth-child(3) {
    border-bottom: none;
  }
}

@media (max-width: 640px) {
  .id-box {
    border: none;
    border-bottom: 2px solid dashed;
  }
}

@media (max-width: 576px) {

  .navTabs,
  .navTabs.activeTabs {
    font-size: 24px;
    text-align: center;
  }


}



/* -------------------- Design Sprint Styling ------------------- */



/* --------------- Conact Us Styling --------------- */
.contactus-banner {
  background: linear-gradient(176.97deg, #9FF8BE 2.87%, #EAFFE2 53.54%, #FFFFFF 99.62%);
}

.contactus-banner .contact-from {
  background-image: url("../src/assets/contactus-bgimg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}


.contactus-checkboxes input:checked~span::before {
  content: "\2714";
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.contactus-checkboxes input:checked~span {
  background: #3ABF88;
  border: none;
}

@media(max-width:1024px) {
  .contactus-banner .contact-from {
    background-image: none;
    background: #2D2D2D;
    border-radius: 40px;
  }
}


.standout-box {
  position: relative;
  border: 2px solid transparent;
  border-radius: 15px;
  background: linear-gradient(331.33deg, #000000 4.79%, #FFFFFF 147.72%);
  -webkit-mask: linear-gradient(#ffffff00 0 0) padding-box, linear-gradient(#ffffff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}


@media (max-width: 1536px) {
  .itemcase {
    height: 395px;
  }

  .animationStroke.casestudy .svg-container svg,
  .animationStroke.feature .svg-container svg,
  .animationStroke.review .svg-container svg {
    transform: scaleX(0.9);
  }
}


.process-sec .top-cards .card-box {
  padding-left: 20px !important;
}

@media (max-width: 576px) {
  .process-sec .top-cards .card-box {
    padding-left: 0px !important;
  }
}

/* 
.custom-br{
  display: none;
} */




/* ------------------------- Responsive Styling -----------------------------*/

@media (max-width: 1536px) {
  .custom-navbar .nav-button {
    padding: 10px 26px;
    height: auto;
    margin-left: 10px !important;
  }

  .custom-br {
    display: block;
  }

  .homepagehero-animation .answers {
    top: -90px;
    font-size: 16px;
  }

  .homepagehero-animation .answers::before {
    position: absolute;
    content: "";
    border: 10px solid #3ABF88;
    bottom: -20px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  .homepagehero-animation .teacherbox {
    scale: .9;
    transform: translateY(20px);
  }


  .animationStroke.feature .svg-container svg,
  .uxres-sec .animationStroke .svg-container svg,
  .casestudy .animationStroke.casestudy .svg-container svg {
    transform: scaleX(0.7) scaleY(0.7);
  }


  .mask-card .inner-content {

    clip-path: path("M0 339.608V15.6962C0 6.99935 6.52567 0 14.5151 0H292.583C300.572 0 307.098 6.99935 307.098 15.6962V51.2979C307.098 60.3625 311.913 67.7617 320.381 67.7617H342.224C346.171 67.7617 349.342 70.0234 351.543 73.4218C353.746 76.824 354.951 81.3321 354.951 85.7092V341.86C354.951 346.196 353.326 349.545 350.719 351.815C348.105 354.09 344.476 355.305 340.436 355.305H14.5151C6.52567 355.305 0 348.305 0 339.608Z");
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .process-sec .top-barbox .card-box {
    padding-bottom: 20px;
  }

  .process-sec .top-barbox .cards-bars {
    bottom: 0;
    top: unset;
  }

  .casestudy .itemcase {
    height: 315px;
    padding: 20px;
  }

  .carouselStudy .innerItem.custom-box {
    background-image: url("/uiuxdenred/src/assets/SchumacherBg-2.png");
    background-color: #EBFDDD;
    height: auto;
    border-radius: 35px;
    padding: 30px;
  }

  .carouselStudy .innerItem.custom-box button {
    position: unset;
    font-size: 20px;
    padding: 20px 30px;
  }

  .carouselStudy .innerItem.custom-box .innertext {
    margin-bottom: 80px;
  }

}

@media (max-width: 576px) {
  .casestudy .itemcase {
    height: 250px;
  }

  .carouselStudy .innerItem.custom-box {
    background-color: #EBFDDD;
    background-image: none;
  }
}

@media (max-width: 1280px) {

  .animationStroke.feature .svg-container svg,
  .uxres-sec .animationStroke .svg-container svg,
  .casestudy .animationStroke.casestudy .svg-container svg {
    transform: scaleX(0.5) scaleY(0.5);
  }

}


@media (max-width: 1024px) {
  .mask-card .inner-content {
    clip-path: unset;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mask-card:hover {
    background-image: url("/uiuxdenred/src/assets/border.png");
  }

  .mask-card .inner-content::before {
    content: none;
  }

  .animationStroke.feature .svg-container svg,
  .uxres-sec .animationStroke .svg-container svg,
  .casestudy .animationStroke.casestudy .svg-container svg {
    transform: scaleX(0.6) scaleY(0.5);
  }
}